<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <form action = "#" accept-charset="utf-8" name = "datalist" method = "get"> 
               
            <legend>test1입니다</legend>
           

        </form>              
               
        </fieldset>
    </form>    
       
  
</body>
<script>
       
</script>



</html>

<!--

      <img src="img.jpg">
-->


<!--


    <div id= "1"class= "item">1</div>
       <div id="2" class= "item">2</div>
       <div id="3" class= "item">3</div>
       <div id="4"class= "item">4</div>
       <div id="5"class= "item">5</div>
       <div id= "6"class= "item">6</div>
       <div id="7" class= "item">7</div>
       <div id="8" class= "item">8</div>
       <div id="9"class= "item">9</div>
       <div id="10"class= "item">10</div>
       <div id="11"class= "item">11</div>
       <div id="12" class= "item">12</div>
       <div id="13" class= "item">13</div>
       <div id="14"class= "item">14</div>
       <div id="15"class= "item">15</div>
       <div id="16"class= "item">16</div>
       <div id="17" class= "item">17</div>
       <div id="18" class= "item">18</div>
       <div id="19"class= "item">19</div>
       <div id="20"class= "item">20</div>
       <div id= "21"class= "item">21</div>
       <div id="22" class= "item">22</div>
       <div id="23" class= "item">23<c/div>
       <div id="24"class= "item">24</div>
       <div id="25"class= "item">25</div>
       <div id= "26"class= "item">26</div>
       <div id="27" class= "item">27</div>
       <div id="28" class= "item">28</div>
       <div id="29"class= "item">29</div>
       <div id="30"class= "item">30</div>
-->